*{
	margin: 0;
	padding: 0;
}
header{
	background-color: lightgray;
	display: flex;
	justify-content: space-around;
	height: 40px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin-top: 15px;

}
a:hover{
	color: darkred;
	text-shadow: 2px 3px 4px 5px;
}
.hero{
	height: 720px;
	background: url('../images/kalijai.jpg');
	background-size: cover;
	/*  background-position: bottom;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hero h3{
	color: white;
	font-size: 100px;
	text-align: center;
}
.hero h1{
	font-size: 150px ;
	color: ghostwhite;
	text-align: center;
}
.hero h1:hover{
	color:lightseagreen ;
}
.hero h3:hover{
	color: cadetblue;
}